# Build artifacts
build/
builddir/
_build/
*.o
*.so
*.a
*.dylib

# Buildroot
buildroot/output/
buildroot/dl/

# Yocto
meta-bpi-os/build/
meta-bpi-os/downloads/
meta-bpi-os/sstate-cache/
meta-bpi-os/tmp/

# IDE
.vscode/
.idea/
*.swp
*.swo
*~
.DS_Store

# Compiled binaries
compositor/bpi-compositor
runtime/wam/bpi-wam

# Tauri / Rust
emulator-app/target/
emulator-app/ui/apps/
emulator-app/assets/apps/
emulator-app/ui/index.html.full

# Package artifacts
*.ospkg
*.img
*.img.gz
emulator-app/gen/
emulator-app/*.bak
