[Unit]
Description=Zyl OS Credential Manager
After=dbus.service zyl-compositor.service
Wants=zyl-compositor.service

[Service]
Type=dbus
BusName=org.zylos.CredentialManager
ExecStart=/usr/bin/zyl-credential
Restart=on-failure
RestartSec=2

[Install]
WantedBy=multi-user.target
