[Unit]
Description=Zyl OS Logger Service
After=dbus.service local-fs.target

[Service]
Type=dbus
BusName=org.zylos.Logger
ExecStart=/usr/bin/zyl-logger
Restart=on-failure
RestartSec=5
StartLimitBurst=5
StartLimitIntervalSec=60

[Install]
WantedBy=multi-user.target
