[Unit]
Description=Zyl OS User Session
Requires=zyl-compositor.service zyl-wam.service
Wants=zyl-apparmor.service zyl-notification.service zyl-power.service zyl-sensors.service systemd-timesyncd.service zyl-account.service zyl-audio.service zyl-auth.service zyl-bluetooth.service zyl-camera.service zyl-crash-handler.service zyl-input.service zyl-nfc.service zyl-telemetry.service zyl-wifi.service zyl-credential.service zyl-location.service zyl-logger.service zyl-accessibility.service zyl-alarm.service zyl-usb.service zyl-telephony.service
After=zyl-apparmor.service zyl-compositor.service zyl-wam.service systemd-timesyncd.service zyl-notification.service zyl-power.service zyl-account.service zyl-audio.service zyl-auth.service zyl-bluetooth.service zyl-camera.service zyl-crash-handler.service zyl-credential.service zyl-location.service zyl-logger.service

[Install]
WantedBy=graphical.target
